/* Header ------------ */
.page-header {
  height: 50px;
  padding-top: 8px;
}
.page-header {
  margin-top: 0;
  width: 100%;
  font-size: 0;
}
.dropdown-nav {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 5%;
  width: 100px;
  border: none;
}
.dropdown-nav-show {
  border: 1px solid #DBDBDB;
  background-color: white;
  border-radius: 3px;
}
.dropbtn {
  display: block;
  float: right;
  width: 32px;
  padding: 16px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}
.dropbtn-gray {
  background: url("../_images/dropdown-gray.png") no-repeat center;
}
.dropbtn:focus {
  outline: 0;
}
.dropbtn-show {
  background: url("../_images/dropdown-gray.png") no-repeat center;
  border: none;
}
.dropdown-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding-bottom: 6px;
}
.dropdown-menu-show {
  display: flex;
}
.drop-item {
  display: block;
  text-align: left;
  font-family: 'Ubuntu', Sans-serif;
  color: #1E1E1E;
  font-size: 16px;
  padding: 4px 0px;
  margin: 6px 6px 0;
  border-top: 1px solid #DBDBDB;
  text-decoration: none;
}
